<div class="post_form">
    <%=form_tag("/posts/create",{multipart:true}) do%>
        
        <input name="post_image1" type="file">
        <input name="post_image2" type="file">
        <input name="post_image3" type="file">

        <input name="title"value="<%=@post.title%>">
        <input name="content"value="<%=@post.content%>">
        <input type="submit">





    <%end%>


</div>