body {
    margin: 0;
    font-weight: bold;
}

a {
    font-family: 'Segoe UI';
    color: #000;
    text-decoration: none;
}

.logo {
    padding: 0 90px 0 80px;
}

.header-container {
    /* position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; */
    height: 100px;
    width: 100%;
    background-color: rgba(223, 223, 223, 0.5);
    display: flex;
    justify-content: space-around;
}

.header-left-container h2 {
    margin: 0;
}

.header-center-container {}

.search_container {
    background-color: #fff;
    box-sizing: border-box;
    border: 1px solid #999;
    padding: 3px 10px;
    border-radius: 20px;
    height: 2.6em;
    width: 380px;
    overflow: hidden;
    margin-top: 27px;
}

.search_container input[type="text"] {
    border: none;
    height: 2.6em;
}

.search_container input[type="text"]:focus {
    outline: 0;
}

.header-right-container {
    margin-left: 0 20px 0 100px;
}

.header-right-container ul {
    margin: 35px 5px;
    list-style-type: none;
}

.header-right-container li {
    float: left;
    padding: 0 15px;
}

.header-right-container a {
    font-size: 20px;
    letter-spacing: -0.05em;
}

.footer-container {
    height: 100px;
    width: 100%;
    background-color: rgba(223, 223, 223, 0.5);
}

.footer-left-container {
    float: left;
}

.footer-left-container ul {
    list-style-type: none;
    margin: 0;
    padding-left: 135px;
}

.footer-left-container li {
    font-family: 'Segoe UI';
    font-size: 12px;
    padding: 20px 0 8px 0;
}

.footer-right-container {
    float: right;
}

.footer-right-container ul {
    padding-right: 80px;
    padding-top: 25px;
}

.footer-right-container li {
    list-style-type: none;
    float: left;
    padding: 0 20px;
}