.login-form-package {
    height: 523px;
}

.login-form-container {
    position: relative;
    background-color: rgba(223, 223, 223, 0.5);
    box-sizing: border-box;
    border-radius: 20px;
    height: 450px;
    width: 550px;
    margin-top: 70px;
    margin-left: 400px;
    overflow: hidden;
}

.login-form-logo {
    position: absolute;
    top: 20px;
    left: 185px;
}

.check-email {
    position: absolute;
    top: 135px;
    left: 95px;
    background-color: #fff;
    box-sizing: border-box;
    border: 1px solid #999;
    border-radius: 30px;
    height: 3.5em;
    width: 350px;
    overflow: hidden;
}

.check-password {
    position: absolute;
    top: 225px;
    left: 95px;
    background-color: #fff;
    box-sizing: border-box;
    border: 1px solid #999;
    border-radius: 30px;
    height: 3.5em;
    width: 350px;
    overflow: hidden;
}

.login-btn {
    position: absolute;
    top: 325px;
    left: 170px;
    background-color: #fff;
    box-sizing: border-box;
    border: 1px solid #999;
    border-radius: 10px;
    height: 3.5em;
    width: 200px;
    overflow: hidden;
}

.new-form-package {
    height: 523px;
}

.new-form-container {
    position: relative;
    background-color: rgba(223, 223, 223, 0.5);
    box-sizing: border-box;
    border-radius: 20px;
    height: 450px;
    width: 550px;
    margin-top: 70px;
    margin-left: 400px;
    overflow: hidden;
}

.new-form-logo {
    position: absolute;
    top: 20px;
    left: 185px;
}

.new-name {
    position: absolute;
    top: 135px;
    left: 110px;
    background-color: #fff;
    box-sizing: border-box;
    border: 1px solid #999;
    border-radius: 30px;
    height: 3.0em;
    width: 350px;
    overflow: hidden;
}

.new-email {
    position: absolute;
    top: 135px;
    left: 95px;
    background-color: #fff;
    box-sizing: border-box;
    border: 1px solid #999;
    border-radius: 30px;
    height: 3.5em;
    width: 350px;
    overflow: hidden;
}

.new-password {
    position: absolute;
    top: 225px;
    left: 95px;
    background-color: #fff;
    box-sizing: border-box;
    border: 1px solid #999;
    border-radius: 30px;
    height: 3.5em;
    width: 350px;
    overflow: hidden;
}

.new-btn {
    position: absolute;
    top: 325px;
    left: 170px;
    background-color: #fff;
    box-sizing: border-box;
    border: 1px solid #999;
    border-radius: 10px;
    height: 3.5em;
    width: 200px;
    overflow: hidden;
}