<div class="login_form">
    <%=form_tag("/users/login_form") do%>
    
        <input name="email"value="メールアドレス">
        <input name="password"value="パスワード">
        <input type="submit">

    <%end%>
</div>