<div class="login-form-package">
    <div class="login-form-container">
        <img class="login-form-logo" src="/アセット 1.svg" width="180" height="100">

        <%=form_tag("/users/login") do%>
        
            <input class="check-email" name="email"value="メールアドレス">
            <input class="check-password "name="password"value="パスワード">
            <input class="login-btn" type="submit" value="ログイン">

        <%end %>
        
    </div>
</div>