<div class="user-container">

    <div class="user-header-img" >

    </div>
    
    
    <% @posts.each do |post| %>
      
    
        <div class="posts-list">
        <%=post.title%>
        <p><%=link_to("更新","/posts/#{post.id}/edit")%></p>
        <p><%=link_to("削除","/posts/#{post.id}/destroy")%></p>





        </div>
    <% end %>




</div>
